{%extends  'base.html' %}
{%block content%}

{% if messages %}
    <div>
        {% for message in messages %}
            <div class="alert
                {% if message.tags == 'error' %}
                    alert-danger
                {% elif message.tags == 'success' %}
                    alert-success
                {% elif message.tags == 'warning' %}
                    alert-warning
                {% elif message.tags == 'info' %}
                    alert-info
                {% endif %}
            ">
                <p>{{ message }}</p>
            </div>
        {% endfor %}
    </div>
{% endif %}


<form method="post">
    {% csrf_token %}
    {{ form.as_p }}  <!-- Renders the form fields as <p> elements -->
    <button type="submit">Add event</button>
</form>


{%endblock%}