{%extends  'base.html' %}
{%block content%}





<!-- alert message -->
{% if messages %}
    {% for message in messages %}
    <div class="alert alert-warning alert-dismissible fade show" role="alert">
      {{message}}
    </div>
    {% endfor %}
{% endif %}



<div class="col-md-6 offset-md-3">
    <h1>hello world</h1>
    <form method="POST" action="{% url 'home'%}">
        {%csrf_token %}
            <div class="mb-3">
              <input type="text" class="form-control" aria-describedby="emailHelp" 
              name="username" placeholder="username" required>
            </div>
            <div class="mb-3">
              <input type="password" class="form-control"
              name="password" placeholder="password" required>
            </div>
            <button type="submit" class="btn btn-secondary">Login</button>
    </form>
</div>
{%endif%}


{%endblock%}
